/*右下角button样式*/
.custom-layer-button-rb {
    position: absolute;
    right: 100px;
    bottom: 10px;
    padding: 10px;
    color: #fff;
    background-color: #000
}

/*左上角button样式*/
.custom-layer-button-lt {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    background-color: #f9f9f9
}

/*左上角button样式*/
.custom-layer-button-lb {
    position: absolute;
    bottom: 25px;
    left: 10px;
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    background-color: #f9f9f9
}

.green-marker-out {
    padding: 6px;
    background-color: #FF0000;
    opacity: 1;
    width:6px;
    height:6px;
    border-radius:3px;
    border:solid #FF0000 1px;
}

.green-marker {
    padding: 8px;
    background-color: #FF0000;
    opacity: 1;
    width:50px;
    height:50px;
    border-radius:25px;
    border:solid #FF0000 1px;
}

.my-second-marker-mouse-over {
    padding: 8px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000
}

.marker-01 {
    background-size: contain;
    background: image('./icon/1.png') no-repeat center;
    width: 30px;
    height: 40px;
    color: #000;
    text-align: center;
    line-height: 40px
}

.marker-02 {
    background-size: contain;
    background: image('./icon/2.png') no-repeat center;
    width: 30px;
    height: 40px;
    color: #000;
    text-align: center;
    line-height: 40px
}

.marker-03 {
    background-size: contain;
    background: image('./icon/3.png') no-repeat center;
    width: 30px;
    height: 40px;
    color: #FF0000;
    text-align: center;
    line-height: 40px
}

.marker {
    background: #000;
    color: #fff;
    padding: 5px
}